* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 100%;
  height: 100%;
  min-width: 480px;

  --background-color: rgb(252, 252, 252);
  --background-color-transparent: rgba(252, 252, 252, 0.7);
  --default-text-color: rgb(0, 0, 0);
  --button-color-hover: rgb(51, 51, 51);
  --button-color-active: rgb(51, 51, 51);
  --color-disabled: rgb(170, 170, 170);
  --color-twitter: rgb(29, 161, 242);
  --color-twitter-hover: rgba(29, 161, 242, 0.8);
  --side-offset: 6rem;
}
@media (max-width: 640px), (orientation: portrait) {
  :root {
    font-size: 130%;

    --side-offset: 1.5rem;
  }
}

body {
  background-color: var(--background-color);
  color: var(--default-text-color);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: 0;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

#copy-input.hidden {
  border: 0;
  height: 0;
  width: 0;
}

/* Header */

.header {
  margin: 5rem 0 2rem;
  padding: 1rem var(--side-offset);
}
@media (max-width: 640px), (orientation: portrait) {
  .header {
    margin: 1rem 0 2rem;
  }
}

.header__row {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__title {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.7rem;
  font-weight: 600;
  flex-basis: 40%;
  margin: 0 0 .5rem;
}

.header__description {
  font-family: 'Roboto Mono', monospace;
  font-size: .9rem;
  margin: .2rem 0;
}

.header__list {
  display: flex;
  flex-basis: 60%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
}

.header__list-item {
  color: #555;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 .7rem;
}
.header__list-item:hover {
  color: var(--button-color-hover);
  text-decoration: underline;
}

/* Main */

.main {
  flex-grow: 2;
  margin: 2rem 0;
  padding: 0 var(--side-offset);
}

/* Control */

.control {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  margin: 2rem 0;
  position: relative;
}
@media (max-width: 640px), (orientation: portrait) {
  .control {
    justify-content: flex-end;
    margin: .5rem 0;
  }
}

.control-field {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
.control-field:first-of-type {
  flex-basis: 25%;
  min-width: 260px;
}
@media (max-width: 640px), (orientation: portrait) {
  .control-field {
    margin: .5rem 0 .5rem 1rem;
  }
  .control-field:first-of-type {
    flex-basis: 70%;
    flex-grow: 1;
    margin: .5rem 0;
  }
}

.control-field__title {
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  margin-bottom: .5rem;
  position: relative;
}
body.no-js .control-field__title {
  color: var(--color-disabled);
}

.control-field__row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.control__button,
.control__input {
  background-color: transparent;
  border: .1rem solid var(--button-color-hover);
  height: 2.4rem;
  padding: .4rem;
}

.control__input {
  font-family: 'Roboto Mono', monospace;
  outline: 0;
  padding: .4rem 2rem .4rem .8rem;
  width: 100%;
}
.control__input:focus {
  box-shadow: 0 0 3px 0 rgba(68, 68, 68, .5);
}
@media (max-width: 640px), (orientation: portrait) {
  .control__input {
    font-size: 1.1rem;
  }
}

.control__button {
  cursor: default; /* Button should not work when JS is disabled */
  fill: var(--button-color-hover);
  margin: 0 .3rem;
  width: 2.4rem;
}
.control__button:first-of-type {
  margin-left: 0;
}
.control__button:not(:disabled):focus,
.control__button:not(:disabled):hover {
  background-color: var(--button-color-hover) !important;
  border-color: var(--button-color-hover) !important;
  cursor: pointer;
  fill: var(--background-color);
}
.control__button.hidden {
  display: none;
}

/* Control - disabled */

.control__input:disabled {
  border-color: var(--color-disabled);
}

.control__button:disabled {
  border-color: var(--color-disabled) !important;
  fill: var(--color-disabled);
}

/* Control - search */

.search__wrapper {
  position: relative;
}

.search-input {
  padding-right: 20px;
}

.search #search-clear {
  cursor: pointer;
  display: inline;
  font-size: 1rem;
  line-height: 2.4rem;
  padding: 0 12px;
  position: absolute;
  right: 0;
  top: 1px;
}
.search #search-clear.hidden {
  display: none;
}

/* Control - order */

body.order-alphabetically #order-alpha,
body.order-by-color #order-color,
body.order-by-relevance #order-relevance {
  background-color: var(--button-color-active);
  border-color: var(--button-color-active);
  cursor: default;
  fill: var(--background-color);
}

/* Control - noscript */

.control noscript {
  position: absolute;
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
  top: -2rem;
}

/* Grid */

.grid {
  align-content: flex-start;
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-start;
  margin: 0 -0.4rem 1.5rem; /* -0.4rem undoes the margin of grid items */
}

.grid-item--if-empty {
  display: flex;
}
.grid-item--if-empty.hidden {
  display: none;
}
.grid-item--if-empty p {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem;
}
.grid-item--if-empty a {
  color: #0000EE;
}
.grid-item--if-empty a:hover {
  color: rgb(0, 0, 238);
  text-decoration: underline;
}
.grid-item--if-empty a:visited {
  color: #551A8B;
}

.grid-item {
  align-items: flex-start;
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  margin: 0.4rem;
  overflow: hidden;
  padding-top: 2.5rem;
  position: relative;
  width: 200px;
}
.grid-item.hidden {
  display: none;
}
@media (max-width: 640px), (orientation: portrait) {
  .grid-item {
    min-width: 10rem;
    width: 30%; /* Roughly 3 per row at most */
  }
}

.grid-item__decoration {
  fill: #000;
  height: 6rem;
  opacity: 0.05;
  position: absolute;
  right: -2rem;
  top: -1.5rem;
  width: 6rem;
}

.grid-item__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2rem;
  margin: .4rem 1rem;
  padding-right: 2rem;
}

.grid-item__color {
  color: #000;
  cursor: text; /* This should function as text when JS is disabled */
  font-family: 'Roboto Mono', monospace;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1rem;
  margin: .2rem 1rem;
  overflow: hidden;
  padding: 6px 8px;
  position: relative;
  user-select: text;
}
.grid-item__color.contrast-light {
  color: #FFF;
}
.grid-item__color::before {
  background-size: 1.2rem 1.2rem;
  background-color: inherit;
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  line-height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}
.grid-item__color:not(:disabled).copied::before,
.grid-item__color:not(:disabled):focus::before {
  display: block;
}
@media (hover: hover) {
  .grid-item__color:not(:disabled):hover::before {
    display: block;
  }
}

.grid-item__footer {
  border-top: 1px solid #CCC;
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: .5rem 0 0;
  padding: .8rem 1rem;
  align-self: stretch;
}

.grid-item__preview {
  cursor: default; /* This should function as decoration when JS is disabled */
  fill: #000;
  flex-grow: 0;
  height: 3rem;
  margin-right: 1rem;
  position: relative;
  width: 3rem;
}
.grid-item__preview::before {
  background-color: var(--background-color-transparent);
  background-size: 1.7rem 1.7rem;
  content: '';
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.grid-item__preview:not(:disabled).copied::before,
.grid-item__preview:not(:disabled):focus::before {
  display: block;
}
@media (hover: hover) {
  .grid-item__preview:not(:disabled):hover::before {
    display: block;
  }
}

.grid-item__downloads {
  display: flex;
  flex-direction: column;
}
.grid-item__downloads h3 {
  font-family: 'Roboto Mono', monospace;
  font-size: .95rem;
  margin-bottom: .2rem;
}

.grid-item__button-row {
  display: flex;
  flex-direction: row;
}

.grid-item__button {
  border: .1rem solid var(--button-color-hover);
  padding: .3rem .4rem;
  margin: 0 .4rem;
  font-family: 'Roboto Mono', monospace;
  font-size: .75rem;
  font-weight: 600;
}
.grid-item__button:first-child {
  margin-left: 0;
}
.grid-item__button:focus,
.grid-item__button:hover {
  background: var(--button-color-hover);
  color: #FFF;
}

/* Ordering grid-items */

body.order-by-color .grid-item {
  order: var(--order-color);
}
body.order-by-relevance .grid-item {
  order: var(--order-relevance);
}

/* Footer */

.footer {
  align-items: center;
  display: flex;
  font-family: 'Roboto Mono', monospace;
  font-size: .9rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 0 2rem;
  padding: 0 var(--side-offset);
}

.footer-description {
  margin: 1rem;
  margin-left: 0;
}

.footer-description a {
  font-weight: 600;
}
.footer-description a:focus,
.footer-description a:hover {
  color: var(--button-color-hover);
  text-decoration: underline;
}

.footer .footer-share {
  align-items: center;
  background-color: var(--color-twitter);
  border-radius: 4px;
  color: #FFF;
  display: flex;
  font-weight: normal;
  flex-shrink: 0;
  padding: .75rem 1.25rem;
  text-align: center;
}
@media (max-width: 640px), (orientation: portrait) {
  .footer .footer-share {
    flex-grow: 1;
    justify-content: center;
  }
}
.footer .footer-share:focus,
.footer .footer-share:hover {
  background-color: var(--color-twitter-hover);
}

.footer-share--icon {
  fill: #FFF;
  height: 1rem;
  margin-right: .75rem;
}

/* Utility */

.copy-button::before {
  content: '';
  background-image: url(./assets/copy.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.copy-button.contrast-light::before {
  content: '';
  background-image: url(./assets/copy-white.svg);
}
.copy-button.copied::before {
  content: '';
  background-image: url(./assets/check.svg);
}
.copy-button.copied.contrast-light::before {
  content: '';
  background-image: url(./assets/check-white.svg);
}
