name: Analysis
on:
  push:
  schedule:
    - cron: '0 0 1 * *'

jobs:
  codeql:
    name: CodeQL
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v1
        with:
          config-file: ./.github/codeql.yml
          languages: javascript
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v1
  lighthouse:
    name: Lighthouse
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js 12.x
        uses: actions/setup-node@v2
        with:
          node-version: 12.x
      - name: Install dependencies
        run: npm ci
      - name: Build website
        run: npm run build
      - name: Run Lighthouse
        uses: treosh/lighthouse-ci-action@v7
        with:
          configPath: ./lighthouserc.json
          uploadArtifacts: true
